body{max-width:100%;
	background-color: pink;
   }
*{box-sizing: border-box;}
.nav{text-align:right;
	border-bottom:5px solid green;
	height:50px;
	line-height: 40px;
}
.menu {
	text-decoration: none;
	width:100%;
	margin-top: 40px;
}

#toggle{display: none;}
.menu a {margin:5px;
	 text-decoration: none;
	 
}
.z{display: block;}
label{margin:20px;
	font-size: 30px;
	color:black;
	display: none;
	margin-left:550px;
    }
@media only screen and (max-width: 1800px) {
	label {display:block;
		  background-color: ble;
		  cursor: pointer;
		  text-align: right;
		  }
    
    .menu ul li a {text-align: center;
    	   display: block;
    	   position: relative;
    	   
        }
    .menu ul li{ list-style: none;
    	display: block;
    	background-color: orange;
    	border-radius: 20px;
    	text-align: center;
    	width:100%;
           }
    .menu ul{border-radius: 20px;
	     transition-duration: 4s;
	     position: relative;
	     text-align: center;
        }

    .menu:hover .z {background-color:red;}
    .menu{ position: relative;
    	   display:none;
    	   background-color: red;
    	   height:500px;
    	   width:400px;
    	   border-radius: 10px;
    	   transition:4s;
       }
    
    #toggle:checked + .menu{display:block;
		}
		    }
